$mediaQueries: (
    "xs": "20rem",
    "sm": "32rem",
    "md": "48rem",
    "lg": "64rem",
    "xl": "80rem",
    "2xl": "96rem",
    "print": "print",
);

$colors: (
    "blue": #2da1ff,
    "red": #ee616d,
    "indigo": #585fed,
    "purple": #8e5dc5,
    "pink": #f16bbb,
    "green": #75e375,
    "yellow": #fff066,
    "orange": #ffa86a,
    "teal": #75d7c8,
    "cyan": #84e6f0,
    "amber": #fdd35e,
    "emerald": #87e19f,
    "oxblood": #ee748f,
    "brown": #b57546,
    "gray-cool": #e2f0ff,
    "gray-warm": #e0dedc,
    "gray": #ffffff,
    "gray-dark": #7d7d7d,
    "rose": #e4716f,
    "fuchsia": #e4716f,
    "violet": #8a67b2,
    "lime": #8ae070,
    "sky": #6ccff6,
    "light-blue": #87e5ef,
    "light-green": #7bcf7b,
    "text": #252525,
    "background": #f7f7f7,
    "accent": #1e92f1,
    "border": #c6c4c1,
    "muted": #949494,
    "success": #75e375,
    "info": #2da1ff,
    "warning": #fff066,
    "danger": #ee616d,
    "light": #e7e7e7,
    "dark": #2d2d2d,
    "transparent": transparent,
    "shade-xxs": rgba(0, 0, 0, 0.01),
    "shade-xs": rgba(0, 0, 0, 0.025),
    "shade-sm": rgba(0, 0, 0, 0.05),
    "shade-md": rgba(0, 0, 0, 0.1),
    "shade-lg": rgba(0, 0, 0, 0.15),
    "shade-xl": rgba(0, 0, 0, 0.2),
    "shade-invert-xxs": rgba(255, 255, 255, 0.01),
    "shade-invert-xs": rgba(255, 255, 255, 0.025),
    "shade-invert-sm": rgba(255, 255, 255, 0.05),
    "shade-invert-md": rgba(255, 255, 255, 0.1),
    "shade-invert-lg": rgba(255, 255, 255, 0.15),
    "shade-invert-xl": rgba(255, 255, 255, 0.2),
);

$colors-dark: (
    "blue": #2c74af,
    "red": #a33d45,
    "indigo": #4449b3,
    "purple": #613594,
    "pink": #b63e86,
    "green": #3ec43e,
    "yellow": #e0d03c,
    "orange": #e27222,
    "teal": #2fc7b0,
    "cyan": #84e6f0,
    "amber": rgb(249, 195, 49),
    "emerald": #3ee66b,
    "oxblood": #da4f6e,
    "brown": #9e531e,
    "gray-cool": #c8ddf2,
    "gray-warm": #e1dcd8,
    "gray": #ffffff,
    "gray-dark": #282424,
    "rose": #d25452,
    "fuchsia": #e4716f,
    "violet": #744f9f,
    "lime": #6ad449,
    "sky": #4eb5de,
    "light-blue": #65ccd8,
    "light-green": #62c062,
    "text": #e9e9e9,
    "background": #1d1d1d,
    "accent": #167fd5,
    "border": #a4a4a4,
    "muted": #9c9c9c,
    "success": #38bc38,
    "info": #1e83d6,
    "warning": #daca33,
    "danger": #d73946,
    "light": #d2d2d2,
    "dark": #404040,
    "transparent": transparent,
    "shade-xxs": rgba(255, 255, 255, 0.01),
    "shade-xs": rgba(255, 255, 255, 0.025),
    "shade-sm": rgba(255, 255, 255, 0.05),
    "shade-md": rgba(255, 255, 255, 0.1),
    "shade-lg": rgba(255, 255, 255, 0.15),
    "shade-xl": rgba(255, 255, 255, 0.2),
    "shade-invert-xxs": rgba(0, 0, 0, 0.01),
    "shade-invert-xs": rgba(0, 0, 0, 0.025),
    "shade-invert-sm": rgba(0, 0, 0, 0.05),
    "shade-invert-md": rgba(0, 0, 0, 0.1),
    "shade-invert-lg": rgba(0, 0, 0, 0.15),
    "shade-invert-xl": rgba(0, 0, 0, 0.2),
);

:root {
    --0: 0;
    --1: 0.25rem;
    --2: 0.5rem;
    --3: 0.75rem;
    --4: 1rem;
    --5: 1.25rem;
    --6: 1.5rem;
    --7: 1.75rem;
    --8: 2rem;
    --9: 2.25rem;
    --10: 2.5rem;
    --11: 2.75rem;
    --12: 3rem;
    --13: 3.25rem;
    --14: 3.5rem;
    --15: 3.75rem;
    --16: 4rem;
    --17: 4.25rem;
    --18: 4.5rem;
    --19: 4.75rem;
    --20: 5rem;
    --21: 5.25rem;
    --22: 5.5rem;
    --23: 5.75rem;
    --24: 6rem;
    --25: 6.25rem;
    --26: 6.5rem;
    --27: 6.75rem;
    --28: 7rem;
    --29: 7.25rem;
    --30: 7.5rem;
    --31: 7.75rem;
    --32: 8rem;

    --relative-0: 0;
    --relative-1: 0.125em;
    --relative-2: 0.1625em;
    --relative-3: 0.2em;
    --relative-4: 0.25em;
    --relative-5: 0.33em;
    --relative-6: 0.5em;
    --relative-7: 0.66em;
    --relative-8: 1em;
    --relative-9: 1.33em;
    --relative-10: 1.66em;
    --relative-11: 2em;
    --relative-12: 2.5em;
    --relative-13: 3em;
    --relative-14: 3.5em;
    --relative-15: 4em;
    --relative-16: 6em;

    --size-0: 0;
    --size-1: 1rem;
    --size-2: 2rem;
    --size-3: 3rem;
    --size-4: 4rem;
    --size-5: 6rem;
    --size-6: 8rem;
    --size-7: 10rem;
    --size-8: 12rem;
    --size-9: 14rem;
    --size-10: 16rem;
    --size-11: 18rem;
    --size-12: 24rem;
    --size-13: 32rem;
    --size-14: 40rem;
    --size-15: 48rem;
    --size-16: 56rem;
    --size-17: 64rem;
    --size-18: 72rem;
    --size-19: 80rem;
    --size-20: 88rem;
    --size-21: 96rem;
    --size-22: 104rem;
    --size-23: 112rem;
    --size-24: 120rem;
    --size-25: 128rem;
    --size-26: 136rem;
    --size-27: 144rem;
    --size-28: 152rem;
    --size-29: 160rem;
    --size-30: 168rem;
    --size-31: 176rem;
    --size-32: 184rem;
    --size-full: 100%;
    --size-vh: calc(100dvh - var(--vh-offset, 0));
    --size-vw: calc(vw - var(--vw-offset, 0));
    --size-xxs: var(--size-10);
    --size-xs: var(--size-12);
    --size-sm: var(--size-14);
    --size-md: var(--size-16);
    --size-lg: var(--size-20);
    --size-xl: var(--size-24);
    --size-2xl: var(--size-28);
    --size-3xl: var(--size-32);

    --transition-fast: 0.3s;
    --transition-medium: 0.6s;
    --transition-slow: 0.9s;

    --transition-ease: cubic-bezier(0.25, 0.1, 0.25, 1);
    --transition-ease-in: cubic-bezier(0.42, 0, 1, 1);
    --transition-ease-out: cubic-bezier(0, 0, 0.58, 1);
    --transition-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
    --transition-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    --transition-spring: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    --transition: var(--transition-property, all) var(--transition-duration, var(--transition-fast)) var(--transition-timing-function, ease-in-out);

    --font-sans: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-display: system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-serif: serif;

    --font-xxs: 0.625rem;
    --font-xs: 0.775rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.875rem;
    --font-4xl: 2.25rem;
    --font-5xl: 3rem;
    --font-6xl: 4rem;
    --font-7xl: 5rem;
    --font-8xl: 6rem;
    --font-9xl: 8rem;
    --font-10xl: 9rem;
    --font-11xl: 10rem;
    --font-12xl: 12rem;
    --font-13xl: 14rem;
    --font-14xl: 16rem;
    --font-15xl: 18rem;
    --font-16xl: 20rem;
    --font-17xl: 22rem;
    --font-18xl: 24rem;
    --font-19xl: 26rem;
    --font-20xl: 28rem;
    --font-21xl: 30rem;
    --font-22xl: 32rem;
    --font-23xl: 34rem;
    --font-24xl: 36rem;

    --font-extralight: 100;
    --font-light: 200;
    --font-thin: 200;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --line-height-none: 0;
    --line-height: 1.25;
    --line-height-xxs: 0.95;
    --line-height-xs: 1;
    --line-height-sm: 1.1;
    --line-height-md: 1.25;
    --line-height-lg: 1.5;
    --line-height-xl: 1.75;
    --line-height-2xl: 2;
    --line-height-3xl: 1.25;
    --line-height-4xl: 1.5;
    --line-height-5xl: 1.75;
    --line-height-6xl: 2;
    --line-height-7xl: 2.25;
    --line-height-8xl: 2.5;

    --letter-spacing-xxs: -0.05em;
    --letter-spacing-xs: -0.025em;
    --letter-spacing-sm: 0;
    --letter-spacing-md: 0.025em;
    --letter-spacing-lg: 0.05em;
    --letter-spacing-xl: 0.1em;
    --letter-spacing-2xl: 0.25em;
    --letter-spacing-3xl: 0.5em;
    --letter-spacing-4xl: 1em;

    --radius: 0.25rem;
    --radius-xxs: 0.1rem;
    --radius-xs: 0.125rem;
    --radius-sm: 0.25rem;
    --radius-md: 0.33rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-4xl: 2rem;
    --radius-5xl: 2.5rem;
    --radius-6xl: 3rem;
    --radius-7xl: 4rem;
    --radius-8xl: 5rem;
    --radius-9xl: 6rem;
    --radius-10xl: 7rem;
    --radius-11xl: 8rem;
    --radius-12xl: 9rem;
    --radius-round: 100%;
    --radius-pill: 999999px;
    --radius-relative-xxs: 0.125em;
    --radius-relative-xs: 0.25em;
    --radius-relative-sm: 0.5em;
    --radius-relative-lg: 1em;
    --radius-relative-xl: 1.5em;
    --radius-relative-2xl: 2em;
    --radius-relative-3xl: 3em;
    --radius-relative-4xl: 4em;
    --radius-relative-5xl: 5em;
    --radius-relative-6xl: 6em;
    --radius-relative-7xl: 7em;
    --radius-relative-8xl: 8em;
    --radius-relative-9xl: 9em;
    --radius-relative-10xl: 10em;
    --radius-relative-11xl: 11em;
    --radius-relative-12xl: 12em;

    --border-xs: calc(var(--px) * 0.5);
    --border-sm: calc(var(--px) * 0.75);
    --border: var(--px);
    --border-md: calc(var(--px) * 1.5);
    --border-lg: calc(var(--px) * 3);
    --border-xl: calc(var(--px) * 6);
    --border-xxl: calc(var(--px) * 8);

    --shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    --shadow-xs: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.15);
    --shadow-sm: 0.03em 0.03em 0.03em rgba(0, 0, 0, 0.15);
    --shadow-md: 0.06em 0.06em 0.06em rgba(0, 0, 0, 0.15);
    --shadow-lg: 0.09em 0.09em 0.09em rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    --shadow-xl: 0.12em 0.12em -0.03em rgba(0, 0, 0, 0.15), --0.06em -0.06em -0.03em rgba(0, 0, 0, 0.15);
    --shadow-2xl: 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-inset-xs: inset var(--shadow-xs);
    --shadow-inset-sm: inset var(--shadow-sm);
    --shadow-inset-md: inset var(--shadow-md);
    --shadow-inset-lg: inset var(--shadow-lg);
    --shadow-inset-xl: inset var(--shadow-xl);
    --shadow-inset-2xl: inset var(--shadow-2xl);
    --shadow-none: none;

    --z-hidden: -1;
    --z-0: 0;
    --z-10: 10;
    --z-20: 20;
    --z-30: 30;
    --z-40: 40;
    --z-50: 50;
    --z-100: 100;
    --z-auto: auto;
    --z-max: calc(infinity);

    --opacity-0: 0;
    --opacity-25: 0.25;
    --opacity-33: 0.33;
    --opacity-50: 0.5;
    --opacity-66: 0.66;
    --opacity-75: 0.75;
    --opacity-100: 1;

    --duration-75: 75ms;
    --duration-100: 100ms;
    --duration-150: 150ms;
    --duration-200: 200ms;
    --duration-300: 300ms;
    --duration-500: 500ms;
    --duration-700: 700ms;
    --duration-1000: 1000ms;

    --ease-linear: linear;
    --ease-in: cubic-bezier(0.4, 0, 1, 1);
    --ease-out: cubic-bezier(0, 0, 0.2, 1);
    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

    --px: 1.5px;

    --black: rgba(7, 7, 7);
    --white: rgba(245, 245, 245);
    --transparent: transparent;
    --current: currentColor;
    --inherit: inherit;
    --initial: initial;
}

[theme="light"] {

    // Loop through each color in the color map
    @each $color,
    $value in $colors {

        // Loop through each increment from 100 to 900 in steps of 100
        @for $i from 1 through 9 {
            // Calculate the shade name (e.g., blue-100, blue-200, etc.)
            $shade-name: #{$color}-#{$i * 100};

            @if ($i < 5) {
                $shade-value: lighten($value, $i / 1%);
                --#{$shade-name}: #{$shade-value};
            }

            @if ($i ==5) {
                --#{$shade-name}: #{$value};
            }

            @if ($i > 5) {
                $shade-value: darken($value, $i / 1%);
                --#{$shade-name}: #{$shade-value};
            }
        }
    }
}

[theme="dark"] {

    @each $color,
    $value in $colors-dark {

        // Loop through each increment from 100 to 900 in steps of 100
        @for $i from 1 through 9 {
            // Calculate the shade name (e.g., blue-100, blue-200, etc.)
            $shade-name: #{$color}-#{$i * 100};

            @if ($i < 5) {
                $shade-value: lighten($value, $i / 1%);
                --#{$shade-name}: #{$shade-value};
            }

            @if ($i ==5) {
                --#{$shade-name}: #{$value};
            }

            @if ($i > 5) {
                $shade-value: darken($value, $i / 1%);
                --#{$shade-name}: #{$shade-value};
            }
        }
    }
}