$utils: (
  mediaQueries: (
    sm: 560px,
    md: 768px,
    lg: 992px,
    xl: 1440px,
  ),
  properties: (
    font-family:(
        variants: (
            font: font-family,
        ),
        values: (
            sans: var(--font-sans),
            serif: var(--font-serif),
            mono: var(--font-mono),
        ),
    ),
    text-align: (
      variants: (
        align: text-align,
      ),
      values: (
        start: start,
        end: end,
        center: center,
        justify: justify,
      ),
    ),
    cursor: (
      variants: (
        cursor: cursor,
      ),
      values: (
        pointer: pointer,
        default: default,
        none: none,
        grab: grab,
        grabbing: grabbing,
      ),
    ),
    background-size: (
      variants: (
        bg-size: background-size,
      ),
      values: (
        cover: cover,
        contain: contain,
      ),
    ),
    background-repeat: (
      variants: (
        bg-repeat: background-repeat,
      ),
      values: (
        repeat: repeat,
        no-repeat: no-repeat,
        repeat-x: repeat-x,
        repeat-y: repeat-y,
      ),
    ),
    background-position: (
      variants: (
        bg-position: background-position,
      ),
      values: (
        top: top,
        right: right,
        bottom: bottom,
        left: left,
        center: center,
      ),
    ),
    aspect-ratio: (
      variants: (
        aspect-ratio: aspect-ratio,
      ),
      values: (
        'square': 1/1,
        'landscape': 4/3,
        'widescreen': 16/9,
        'portrait': 3/4,
        'short': 9/16,
        'cinema': 21/9,
      ),
    ),
    border-radius: (
      variants: (
        radius: border-radius,
      ),
      values: (
        none: 0,
        sm: var(--1),
        md: var(--2),
        lg: var(--4),
        xl: var(--6),
        pill: 9999px,
      ),
    ),
    position-alignments: (
      variants: (
        position: position,
        top: top,
        right: right,
        bottom: bottom,
        left: left,
      ),
      values: (
        0: 0,
        1: var(--1),
        2: var(--2),
        3: var(--3),
        4: var(--4),
        5: var(--5),
        6: var(--6),
        7: var(--7),
        8: var(--8),
        9: var(--9),
        10: var(--10),
        11: var(--11),
        12: var(--12),
        13: var(--13),
        14: var(--14),
        15: var(--15),
        16: var(--16),
        auto: auto,
        center: center,
        left: left,
        right: right,
        top: top,
        bottom: bottom,
        stretch: stretch,
      ),
    ),
    position: (
      variants: (
        position: position,
      ),
      values: (
        static: static,
        relative: relative,
        absolute: absolute,
        fixed: fixed,
        sticky: sticky,
      ),
    ),
    overflow: (
      variants: (
        overflow: overflow,
        overflow-x: overflow-x,
        overflow-y: overflow-y,
      ),
      values: (
        visible: visible,
        hidden: hidden,
        scroll: scroll,
        auto: auto,
      ),
    ),
    truncate: (
      variants: (
        truncate: text-overflow,
      ),
      values: (
        ellipsis: ellipsis,
      ),
    ),
    grid: (
      variants: (
        grid: grid,
        grid-template: grid-template,
        grid-template-rows: grid-template-rows,
        grid-template-columns: grid-template-columns,
        grid-auto-flow: grid-auto-flow,
        grid-auto-rows: grid-auto-rows,
        grid-auto-columns: grid-auto-columns,
        grid-gap: grid-gap,
        grid-row-gap: grid-row-gap,
        grid-column-gap: grid-column-gap,
        grid-area: grid-area,
        grid-row: grid-row,
        grid-column: grid-column,
      ),
      values: (
        none: none,
        1: repeat(1, 1fr),
        2: repeat(2, 1fr),
        3: repeat(3, 1fr),
        4: repeat(4, 1fr),
        5: repeat(5, 1fr),
        6: repeat(6, 1fr),
        7: repeat(7, 1fr),
        8: repeat(8, 1fr),
        9: repeat(9, 1fr),
        10: repeat(10, 1fr),
        11: repeat(11, 1fr),
        12: repeat(12, 1fr),
        span-1: span 1,
        span-2: span 2,
        span-3: span 3,
        span-4: span 4,
        span-5: span 5,
        span-6: span 6,
        span-7: span 7,
        span-8: span 8,
        span-9: span 9,
        span-10: span 10,
        span-11: span 11,
        span-12: span 12,
        auto: auto,
        min: min-content,
        max: max-content,
        fr: minmax(0, 1fr),
        repeat: repeat(auto-fill, minmax(0, 1fr)),
      ),
    ),
    flex-direction: (
      variants: (
        direction: flex-direction,
      ),
      values: (
        row: row,
        row-reverse: row-reverse,
        col: column,
        col-reverse: column-reverse,
      ),
    ),
    flex: (
      variants: (
        flex: flex,
      ),
      values: (
        1: "1 1 0%",
        auto: "1 1 auto",
        initial: "0 1 auto",
        grow: "1 0 auto",
        shrink: "0 1 auto",
        none: none,
      ),
    ),
    align: (
      variants: (
        align-items: align-items,
        align-self: align-self,
        align-content: align-content,
      ),
      values: (
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    justify: (
      variants: (
        justify-content: justify-content,
        justify-self: justify-self,
      ),
      values: (
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        start: flex-start,
        end: flex-end,
        center: center,
      ),
    ),
    place-content: (),
    display: (
      variants: (
        display: display,
      ),
      values: (
        block: block,
        flex: flex,
        grid: grid,
        inline: inline,
        inline-block: inline-block,
        none: none,
        table: table,
        table-caption: table-caption,
      ),
    ),
    font-size: (
      variants: (
        size: font-size,
      ),
      values: (
        xxs: var(--font-size-xxs, 0.5rem),
        xs: var(--font-size-xs, 0.8rem),
        sm: var(--font-size-sm, 1rem),
        md: var(--font-size-md, 1.2rem),
        lg: var(--font-size-lg, 1.6rem),
        xl: var(--font-size-xl, 2rem),
        2xl: var(--font-size-xxl, 2.6rem),
        3xl: var(--font-size-3xl, 3.2rem),
        4xl: var(--font-size-4xl, 4rem),
        5xl: var(--font-size-5xl, 4.8rem),
        6xl: var(--font-size-6xl, 5.6rem),
        7xl: var(--font-size-7xl, 6.4rem),
        8xl: var(--font-size-8xl, 7.2rem),
        fluid-xxs: clamp(var(--font-size-xxs, 0.5rem), 1vw, var(--font-size-xs, 0.8rem)),
        fluid-xs: clamp(var(--font-size-xs, 0.8rem), 1.2vw, var(--font-size-sm, 1rem)),
        fluid-sm: clamp(var(--font-size-sm, 1rem), 1.6vw, var(--font-size-md, 1.2rem)),
        fluid-md: clamp(var(--font-size-md, 1.2rem), 2vw, var(--font-size-lg, 1.6rem)),
        fluid-lg: clamp(var(--font-size-lg, 1.6rem), 2.6vw, var(--font-size-xl, 2rem)),
        fluid-xl: clamp(var(--font-size-xl, 2rem), 3.2vw, var(--font-size-xxl, 2.6rem)),
        fluid-2xl: clamp(var(--font-size-xxl, 2.6rem), 4vw, var(--font-size-3xl, 3.2rem)),
        fluid-3xl: clamp(var(--font-size-3xl, 3.2rem), 4.8vw, var(--font-size-4xl, 4rem)),
        fluid-4xl: clamp(var(--font-size-4xl, 4rem), 6vw, var(--font-size-5xl, 4.8rem)),
        fluid-5xl: clamp(var(--font-size-5xl, 4.8rem), 7.2vw, var(--font-size-6xl, 5.6rem)),
        fluid-6xl: clamp(var(--font-size-6xl, 5.6rem), 9vw, var(--font-size-7xl, 6.4rem)),
        fluid-7xl: clamp(var(--font-size-7xl, 6.4rem), 12vw, var(--font-size-8xl, 7.2rem)),
        fluid-8xl: clamp(var(--font-size-8xl, 7.2rem), 16vw, var(--font-size-9xl, 8rem)),
        em: 1em,
        rem: 1rem,
        px: 1px,
      ),
    ),
    letter-spacing: (
      variants: (
        tracking: letter-spacing,
      ),
      values: (
        xxs: -0.05em,
        xs: -0.025em,
        sm: 0,
        md: 0.015em,
        lg: 0.033em,
        xl: 0.066em,
        xxl: 0.1em,
      ),
    ),
    font-weight: (
      variants: (
        weight: font-weight,
      ),
      values: (
        thin: 100,
        extralight: 200,
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800,
        black: 900,
      ),
    ),
    line-height: (
      variants: (
        leading: line-height,
      ),
      values: (
        none: 0,
        1: 1,
        tight: 1.15,
        snug: 1.25,
        normal: 1.325,
        relaxed: 1.625,
        loose: 2,
      ),
    ),
    sizes: (
      variants: (
        w: width,
        min-w: min-width,
        max-w: max-width,
        basis: flex-basis,
        h: height,
        min-h: min-height,
        max-h: max-height,
      ),
      values: (
        0: 0,
        1: var(--1),
        2: var(--2),
        3: var(--3),
        4: var(--4),
        5: var(--5),
        6: var(--6),
        7: var(--7),
        8: var(--8),
        9: var(--9),
        10: var(--10),
        11: var(--11),
        12: var(--12),
        13: var(--13),
        14: var(--14),
        15: var(--15),
        16: var(--16),
        xxs: var(--size-xxs),
        xs: var(--size-xs),
        sm: var(--size-sm),
        md: var(--size-md),
        lg: var(--size-lg),
        xl: var(--size-xl),
        xxl: var(--size-xxl),
        em: 1em,
        auto: auto,
        vw: 100vw,
        vh: 100dvh,
        full: 100%,
        min: min-content,
        max: max-content,
        available: 100%,
        "1\\/2": 50%,
        "1\\/3": 33.333333%,
        "2\\/3": 66.666667%,
        "1\\/4": 25%,
        "2\\/4": 50%,
        "3\\/4": 75%,
        "1\\/5": 20%,
        "2\\/5": 40%,
        "3\\/5": 60%,
        "4\\/5": 80%,
        "1\\/6": 16.666667%,
        "2\\/6": 33.333333%,
        "3\\/6": 50%,
        "4\\/6": 66.666667%,
        "5\\/6": 83.333333%,
        "1\\/12": 8.333333%,
        "2\\/12": 16.666667%,
        "3\\/12": 25%,
        "4\\/12": 33.333333%,
        "5\\/12": 41.666667%,
        "6\\/12": 50%,
        "7\\/12": 58.333333%,
        "8\\/12": 66.666667%,
        "9\\/12": 75%,
        "10\\/12": 83.333333%,
        "11\\/12": 91.666667%,
      ),
    ),
    border: (
      variants: (
        border-width: border-width,
        border-t-width: border-top-width,
        border-r-width: border-right-width,
        border-b-width: border-bottom-width,
        border-l-width: border-left-width,
      ),
      values: (
        none: none,
        1: var(--px),
        2: calc(var(--px) * 1.5),
        3: calc(var(--px) * 2),
        4: calc(var(--px) * 3),
        5: calc(var(--px) * 4),
        6: calc(var(--px) * 5),
        7: calc(var(--px) * 6),
        8: calc(var(--px) * 7),
      ),
    ),
    text-transform : (
        variants: (
            transform: text-transform,
        ),
        values: (
            none: none,
            uppercase: uppercase,
            lowercase: lowercase,
            capitalize: capitalize,
        ),  
    ),
    color: (
      variants: (
        color: color,
        bg: background-color,
        border-color: border-color,
        stroke: stroke,
        fill: fill,
      ),
      values: (
        transparent: transparent,
        current: currentColor,
        inherit: inherit,
        initial: initial,
        unset: unset,
        black: #000,
        white: #fff,
        gray-100: #f7fafc,
        gray-200: #edf2f7,
        gray-300: #e2e8f0,
        gray-400: #cbd5e0,
        gray-500: #a0aec0,
        gray-600: #718096,
        gray-700: #4a5568,
        gray-800: #2d3748,
        gray-900: #1a202c,
        red-100: #fff5f5,
        red-200: #fed7d7,
        red-300: #feb2b2,
        red-400: #fc8181,
        red-500: #f56565,
        red-600: #e53e3e,
        red-700: #c53030,
        red-800: #9b2c2c,
        red-900: #742a2a,
        orange-100: #fffaf0,
        orange-200: #feebc8,
        orange-300: #fbd38d,
        orange-400: #f6ad55,
        orange-500: #ed8936,
        orange-600: #dd6b20,
        orange-700: #c05621,
        orange-800: #9c4221,
        orange-900: #7b341e,
        yellow-100: #fffff0,
        yellow-200: #fefcbf,
        yellow-300: #faf089,
        yellow-400: #f6e05e,
        yellow-500: #ecc94b,
        yellow-600: #d69e2e,
        yellow-700: #b7791f,
        yellow-800: #975a16,
        yellow-900: #744210,
        green-100: #f0fff4,
        green-200: #c6f6d5,
        green-300: #9ae6b4,
        green-400: #68d391,
        green-500: #48bb78,
        green-600: #38a169,
        green-700: #2f855a,
        green-800: #276749,
        green-900: #22543d,
        teal-100: #e6fffa,
        teal-200: #b2f5ea,
        teal-300: #81e6d9,
        teal-400: #4fd1c5,
        teal-500: #38b2ac,
        teal-600: #319795,
        teal-700: #2c7a7b,
        teal-800: #285e61,
        teal-900: #234e52,
        blue-100: #ebf8ff,
        blue-200: #bee3f8,
        blue-300: #90cdf4,
        blue-400: #63b3ed,
        blue-500: #4299e1,
        blue-600: #3182ce,
        blue-700: #2b6cb0,
        blue-800: #2c5282,
        blue-900: #2a4365,
        indigo-100: #ebf4ff,
        indigo-200: #c3dafe,
        indigo-300: #a3bffa,
        indigo-400: #7f9cf5,
        indigo-500: #667eea,
        indigo-600: #5a67d8,
        indigo-700: #4c51bf,
        indigo-800: #434190,
        indigo-900: #3c366b,
        purple-100: #faf5ff,
        purple-200: #e9d8fd,
        purple-300: #d6bcfa,
        purple-400: #b794f4,
        purple-500: #9f7aea,
        purple-600: #805ad5,
        purple-700: #6b46c1,
        purple-800: #553c9a,
        purple-900: #44337a,
        shade-xxs: rgba(0, 0, 0, 0.01),
        shade-xs: rgba(0, 0, 0, 0.025),
        shade-sm: rgba(0, 0, 0, 0.05),
        shade-md: rgba(0, 0, 0, 0.1),
        shade-lg: rgba(0, 0, 0, 0.15),
        shade-xl: rgba(0, 0, 0, 0.2),
        shade-xxl: rgba(0, 0, 0, 0.25),
        shade-invert-xxs: rgba(255, 255, 255, 0.01),
        shade-invert-xs: rgba(255, 255, 255, 0.025),
        shade-invert-sm: rgba(255, 255, 255, 0.05),
        shade-invert-md: rgba(255, 255, 255, 0.1),
        shade-invert-lg: rgba(255, 255, 255, 0.15),
        shade-invert-xl: rgba(255, 255, 255, 0.2),
        shade-invert-xxl: rgba(255, 255, 255, 0.25),
      ),
    ),

    gap: (
      variants: (
        gap: gap,
        gap-x: column-gap,
        gap-y: row-gap,
      ),
      values: (
        0: var(--0),
        1: var(--1),
        2: var(--2),
        3: var(--3),
        4: var(--4),
        5: var(--5),
        6: var(--6),
        7: var(--7),
        8: var(--8),
        9: var(--9),
        10: var(--10),
        11: var(--11),
        12: var(--12),
        13: var(--13),
        14: var(--14),
        15: var(--15),
        16: var(--16),
      ),
    ),
    padding: (
      variants: (
        p: padding,
        pt: padding-block-start,
        pr: padding-inline-end,
        pb: padding-block-end,
        pl: padding-inline-start,
        px: padding-inline,
        py: padding-block,
      ),
      values: (
        0: var(--0),
        1: var(--1),
        2: var(--2),
        3: var(--3),
        4: var(--4),
        5: var(--5),
        6: var(--6),
        7: var(--7),
        8: var(--8),
        9: var(--9),
        10: var(--10),
        11: var(--11),
        12: var(--12),
        13: var(--13),
        14: var(--14),
        15: var(--15),
        16: var(--16),
      ),
    ),
    margin: (
      variants: (
        m: margin,
        mt: margin-top,
        mr: margin-right,
        mb: margin-bottom,
        ml: margin-left,
        mx: margin-inline,
        my: margin-block,
      ),
      values: (
        0: var(--0),
        1: var(--1),
        2: var(--2),
        3: var(--3),
        4: var(--4),
        5: var(--5),
        6: var(--6),
        7: var(--7),
        8: var(--8),
        9: var(--9),
        10: var(--10),
        11: var(--11),
        12: var(--12),
        13: var(--13),
        14: var(--14),
        15: var(--15),
        16: var(--16),
      ),
    ),
  ),
);

// Create utility classes without media queries
@each $property, $propertyMap in map-get($utils, properties) {
  @each $variant, $variantProperty in map-get($propertyMap, variants) {
    @each $value, $valueProperty in map-get($propertyMap, values) {
      .#{$variant}\:#{$value} {
        #{$variantProperty}: #{$valueProperty};
      }
    }
  }
}

// Create utility classes within media queries
@each $breakpoint, $value in map-get($utils, mediaQueries) {
  @media (min-width: #{$value}) {
    @each $property, $propertyMap in map-get($utils, properties) {
      @each $variant, $variantProperty in map-get($propertyMap, variants) {
        @each $value, $valueProperty in map-get($propertyMap, values) {
          .\{#{$breakpoint}\}#{$variant}\:#{$value} {
            #{$variantProperty}: #{$valueProperty};
          }
        }
      }
    }
  }
}
