$colors: (
  transparent: transparent,
  current: currentColor,
  inherit: inherit,
  initial: initial,
  unset: unset,
  black: var(--black),
  white: var(--white),
  text-100: var(--text-100),
  text-200: var(--text-200),
  text-300: var(--text-300),
  text-400: var(--text-400),
  text-500: var(--text-500),
  text-600: var(--text-600),
  text-700: var(--text-700),
  text-800: var(--text-800),
  text-900: var(--text-900),
  background-100: var(--background-100),
  background-200: var(--background-200),
  background-300: var(--background-300),
  background-400: var(--background-400),
  background-500: var(--background-500),
  background-600: var(--background-600),
  background-700: var(--background-700),
  background-800: var(--background-800),
  background-900: var(--background-900),
  accent-100: var(--accent-100),
  accent-200: var(--accent-200),
  accent-300: var(--accent-300),
  accent-400: var(--accent-400),
  accent-500: var(--accent-500),
  accent-600: var(--accent-600),
  accent-700: var(--accent-700),
  accent-800: var(--accent-800),
  accent-900: var(--accent-900),
  border-100: var(--border-100),
  border-200: var(--border-200),
  border-300: var(--border-300),
  border-400: var(--border-400),
  border-500: var(--border-500),
  border-600: var(--border-600),
  border-700: var(--border-700),
  border-800: var(--border-800),
  border-900: var(--border-900),
  muted-100: var(--muted-100),
  muted-200: var(--muted-200),
  muted-300: var(--muted-300),
  muted-400: var(--muted-400),
  muted-500: var(--muted-500),
  muted-600: var(--muted-600),
  muted-700: var(--muted-700),
  muted-800: var(--muted-800),
  muted-900: var(--muted-900),
  success-100: var(--success-100),
  success-200: var(--success-200),
  success-300: var(--success-300),
  success-400: var(--success-400),
  success-500: var(--success-500),
  success-600: var(--success-600),
  success-700: var(--success-700),
  success-800: var(--success-800),
  success-900: var(--success-900),
  info-100: var(--info-100),
  info-200: var(--info-200),
  info-300: var(--info-300),
  info-400: var(--info-400),
  info-500: var(--info-500),
  info-600: var(--info-600),
  info-700: var(--info-700),
  info-800: var(--info-800),
  info-900: var(--info-900),
  warning-100: var(--warning-100),
  warning-200: var(--warning-200),
  warning-300: var(--warning-300),
  warning-400: var(--warning-400),
  warning-500: var(--warning-500),
  warning-600: var(--warning-600),
  warning-700: var(--warning-700),
  warning-800: var(--warning-800),
  warning-900: var(--warning-900),
  danger-100: var(--danger-100),
  danger-200: var(--danger-200),
  danger-300: var(--danger-300),
  danger-400: var(--danger-400),
  danger-500: var(--danger-500),
  danger-600: var(--danger-600),
  danger-700: var(--danger-700),
  danger-800: var(--danger-800),
  danger-900: var(--danger-900),
  light-100: var(--light-100),
  light-200: var(--light-200),
  light-300: var(--light-300),
  light-400: var(--light-400),
  light-500: var(--light-500),
  light-600: var(--light-600),
  light-700: var(--light-700),
  light-800: var(--light-800),
  light-900: var(--light-900),
  dark-100: var(--dark-100),
  dark-200: var(--dark-200),
  dark-300: var(--dark-300),
  dark-400: var(--dark-400),
  dark-500: var(--dark-500),
  dark-600: var(--dark-600),
  dark-700: var(--dark-700),
  dark-800: var(--dark-800),
  dark-900: var(--dark-900),

  shade-xxs-100: var(--shade-xxs-100),
  shade-xxs-200: var(--shade-xxs-200),
  shade-xxs-300: var(--shade-xxs-300),
  shade-xxs-400: var(--shade-xxs-400),
  shade-xxs-500: var(--shade-xxs-500),
  shade-xxs-600: var(--shade-xxs-600),
  shade-xxs-700: var(--shade-xxs-700),
  shade-xxs-800: var(--shade-xxs-800),
  shade-xxs-900: var(--shade-xxs-900),
  shade-xs-100: var(--shade-xs-100),
  shade-xs-200: var(--shade-xs-200),
  shade-xs-300: var(--shade-xs-300),
  shade-xs-400: var(--shade-xs-400),
  shade-xs-500: var(--shade-xs-500),
  shade-xs-600: var(--shade-xs-600),
  shade-xs-700: var(--shade-xs-700),
  shade-xs-800: var(--shade-xs-800),
  shade-xs-900: var(--shade-xs-900),
  shade-sm-100: var(--shade-sm-100),
  shade-sm-200: var(--shade-sm-200),
  shade-sm-300: var(--shade-sm-300),
  shade-sm-400: var(--shade-sm-400),
  shade-sm-500: var(--shade-sm-500),
  shade-sm-600: var(--shade-sm-600),
  shade-sm-700: var(--shade-sm-700),
  shade-sm-800: var(--shade-sm-800),
  shade-sm-900: var(--shade-sm-900),
  shade-md-100: var(--shade-md-100),
  shade-md-200: var(--shade-md-200),
  shade-md-300: var(--shade-md-300),
  shade-md-400: var(--shade-md-400),
  shade-md-500: var(--shade-md-500),
  shade-md-600: var(--shade-md-600),
  shade-md-700: var(--shade-md-700),
  shade-md-800: var(--shade-md-800),
  shade-md-900: var(--shade-md-900),
  shade-lg-100: var(--shade-lg-100),
  shade-lg-200: var(--shade-lg-200),
  shade-lg-300: var(--shade-lg-300),
  shade-lg-400: var(--shade-lg-400),
  shade-lg-500: var(--shade-lg-500),
  shade-lg-600: var(--shade-lg-600),
  shade-lg-700: var(--shade-lg-700),
  shade-lg-800: var(--shade-lg-800),
  shade-lg-900: var(--shade-lg-900),
  shade-xl-100: var(--shade-xl-100),
  shade-xl-200: var(--shade-xl-200),
  shade-xl-300: var(--shade-xl-300),
  shade-xl-400: var(--shade-xl-400),
  shade-xl-500: var(--shade-xl-500),
  shade-xl-600: var(--shade-xl-600),
  shade-xl-700: var(--shade-xl-700),
  shade-xl-800: var(--shade-xl-800),
  shade-xl-900: var(--shade-xl-900),
  shade-xxl-100: var(--shade-xxl-100),
  shade-xxl-200: var(--shade-xxl-200),
  shade-xxl-300: var(--shade-xxl-300),
  shade-xxl-400: var(--shade-xxl-400),
  shade-xxl-500: var(--shade-xxl-500),
  shade-xxl-600: var(--shade-xxl-600),
  shade-xxl-700: var(--shade-xxl-700),
  shade-xxl-800: var(--shade-xxl-800),
  shade-xxl-900: var(--shade-xxl-900),

  shade-invert-xxs-100: var(--shade-invert-xxs-100),
  shade-invert-xxs-200: var(--shade-invert-xxs-200),
  shade-invert-xxs-300: var(--shade-invert-xxs-300),
  shade-invert-xxs-400: var(--shade-invert-xxs-400),
  shade-invert-xxs-500: var(--shade-invert-xxs-500),
  shade-invert-xxs-600: var(--shade-invert-xxs-600),
  shade-invert-xxs-700: var(--shade-invert-xxs-700),  
  shade-invert-xxs-800: var(--shade-invert-xxs-800),
  shade-invert-xxs-900: var(--shade-invert-xxs-900),
  shade-invert-xs-100: var(--shade-invert-xs-100),
  shade-invert-xs-200: var(--shade-invert-xs-200),
  shade-invert-xs-300: var(--shade-invert-xs-300),
  shade-invert-xs-400: var(--shade-invert-xs-400),
  shade-invert-xs-500: var(--shade-invert-xs-500),
  shade-invert-xs-600: var(--shade-invert-xs-600),
  shade-invert-xs-700: var(--shade-invert-xs-700),
  shade-invert-xs-800: var(--shade-invert-xs-800),
  shade-invert-xs-900: var(--shade-invert-xs-900),
  shade-invert-sm-100: var(--shade-invert-sm-100),
  shade-invert-sm-200: var(--shade-invert-sm-200),
  shade-invert-sm-300: var(--shade-invert-sm-300),
  shade-invert-sm-400: var(--shade-invert-sm-400),
  shade-invert-sm-500: var(--shade-invert-sm-500),
  shade-invert-sm-600: var(--shade-invert-sm-600),
  shade-invert-sm-700: var(--shade-invert-sm-700),
  shade-invert-sm-800: var(--shade-invert-sm-800),
  shade-invert-sm-900: var(--shade-invert-sm-900),
  shade-invert-md-100: var(--shade-invert-md-100),
  shade-invert-md-200: var(--shade-invert-md-200),
  shade-invert-md-300: var(--shade-invert-md-300),
  shade-invert-md-400: var(--shade-invert-md-400),
  shade-invert-md-500: var(--shade-invert-md-500),
  shade-invert-md-600: var(--shade-invert-md-600),
  shade-invert-md-700: var(--shade-invert-md-700),
  shade-invert-md-800: var(--shade-invert-md-800),
  shade-invert-md-900: var(--shade-invert-md-900),
  shade-invert-lg-100: var(--shade-invert-lg-100),
  shade-invert-lg-200: var(--shade-invert-lg-200),
  shade-invert-lg-300: var(--shade-invert-lg-300),
  shade-invert-lg-400: var(--shade-invert-lg-400),
  shade-invert-lg-500: var(--shade-invert-lg-500),
  shade-invert-lg-600: var(--shade-invert-lg-600),
  shade-invert-lg-700: var(--shade-invert-lg-700),
  shade-invert-lg-800: var(--shade-invert-lg-800),
  shade-invert-lg-900: var(--shade-invert-lg-900),
  shade-invert-xl-100: var(--shade-invert-xl-100),
  shade-invert-xl-200: var(--shade-invert-xl-200),
  shade-invert-xl-300: var(--shade-invert-xl-300),
  shade-invert-xl-400: var(--shade-invert-xl-400),
  shade-invert-xl-500: var(--shade-invert-xl-500),
  shade-invert-xl-600: var(--shade-invert-xl-600),
  shade-invert-xl-700: var(--shade-invert-xl-700),
  shade-invert-xl-800: var(--shade-invert-xl-800),
  shade-invert-xl-900: var(--shade-invert-xl-900),
  shade-invert-xxl-100: var(--shade-invert-xxl-100),
  shade-invert-xxl-200: var(--shade-invert-xxl-200),
  shade-invert-xxl-300: var(--shade-invert-xxl-300),
  shade-invert-xxl-400: var(--shade-invert-xxl-400),
  shade-invert-xxl-500: var(--shade-invert-xxl-500),
  shade-invert-xxl-600: var(--shade-invert-xxl-600),
  shade-invert-xxl-700: var(--shade-invert-xxl-700),
  shade-invert-xxl-800: var(--shade-invert-xxl-800),
  shade-invert-xxl-900: var(--shade-invert-xxl-900),
);

$spacing-sizes: (
  0: var(--0),
  1: var(--1),
  2: var(--2),
  3: var(--3),
  4: var(--4),
  5: var(--5),
  6: var(--6),
  7: var(--7),
  8: var(--8),
  9: var(--9),
  10: var(--10),
  11: var(--11),
  12: var(--12),
  13: var(--13),
  14: var(--14),
  15: var(--15),
  16: var(--16),
  17: var(--17),
  18: var(--18),
  19: var(--19),
  20: var(--20),
  21: var(--21),
  22: var(--22),
  23: var(--23),
  24: var(--24),
  25: var(--25),
  26: var(--26),
  27: var(--27),
  28: var(--28),
  29: var(--29),
  30: var(--30),
  31: var(--31),
  32: var(--32),
  -1: calc(var(--1) * -1),
  -2: calc(var(--2) * -1),
  -3: calc(var(--3) * -1),
  -4: calc(var(--4) * -1),
  -5: calc(var(--5) * -1),
  -6: calc(var(--6) * -1),
  -7: calc(var(--7) * -1),
  -8: calc(var(--8) * -1),
  -9: calc(var(--9) * -1),
  -10: calc(var(--10) * -1),
  -11: calc(var(--11) * -1),
  -12: calc(var(--12) * -1),
  -13: calc(var(--13) * -1),
  -14: calc(var(--14) * -1),
  -15: calc(var(--15) * -1),
  -16: calc(var(--16) * -1),
  -17: calc(var(--17) * -1),
  -18: calc(var(--18) * -1),
  -19: calc(var(--19) * -1),
  -20: calc(var(--20) * -1),
  -21: calc(var(--21) * -1),
  -22: calc(var(--22) * -1),
  -23: calc(var(--23) * -1),
  -24: calc(var(--24) * -1),
  -25: calc(var(--25) * -1),
  -26: calc(var(--26) * -1),
  -27: calc(var(--27) * -1),
  -28: calc(var(--28) * -1),
  -29: calc(var(--29) * -1),
  -30: calc(var(--30) * -1),
  -31: calc(var(--31) * -1),
  -32: calc(var(--32) * -1),

  size-xxs: var(--size-xxs),
  size-xs: var(--size-xs),
  size-sm: var(--size-sm),
  size-md: var(--size-md),
  size-lg: var(--size-lg),
  size-xl: var(--size-xl),
  size-xxl: var(--size-xxl),
  size-1: var(--size-1),
  size-2: var(--size-2),
  size-3: var(--size-3),
  size-4: var(--size-4),
  size-5: var(--size-5),
  size-6: var(--size-6),
  size-7: var(--size-7),
  size-8: var(--size-8),
  size-9: var(--size-9),
  size-10: var(--size-10),
  size-11: var(--size-11),
  size-12: var(--size-12),
  size-13: var(--size-13),
  size-14: var(--size-14),
  size-15: var(--size-15),
  size-16: var(--size-16),
  size-17: var(--size-17),
  size-18: var(--size-18),
  size-19: var(--size-19),
  size-20: var(--size-20),
  size-21: var(--size-21),
  size-22: var(--size-22),
  size-23: var(--size-23),
  size-24: var(--size-24),
  size-25: var(--size-25),
  size-26: var(--size-26),
  size-27: var(--size-27),
  size-28: var(--size-28),
  size-29: var(--size-29),
  size-30: var(--size-30),
  size-31: var(--size-31),
  size-32: var(--size-32),
  vw: 100vw,
  vh: 100vh,
  full: 100%,
  auto: auto,
  em: 1em,
  rem: 1rem,
  px: 1px,
  min: min-content,
  max: max-content,
  available: 100%,
  "1\\/2": 50%,
  "1\\/3": 33.333333%,
  "2\\/3": 66.666667%,
  "1\\/4": 25%,
  "2\\/4": 50%,
  "3\\/4": 75%,
  "1\\/5": 20%,
  "2\\/5": 40%,
  "3\\/5": 60%,
  "4\\/5": 80%,
  "1\\/6": 16.666667%,
  "2\\/6": 33.333333%,
  "3\\/6": 50%,
  "4\\/6": 66.666667%,
  "5\\/6": 83.333333%,
  "1\\/12": 8.333333%,
  "2\\/12": 16.666667%,
  "3\\/12": 25%,
  "4\\/12": 33.333333%,
  "5\\/12": 41.666667%,
  "6\\/12": 50%,
  "7\\/12": 58.333333%,
  "8\\/12": 66.666667%,
  "9\\/12": 75%,
  "10\\/12": 83.333333%,
  "11\\/12": 91.666667%,
);

$utils: (
  mediaQueries: (
    sm: 560px,
    md: 960px,
    lg: 1440,
    // xl: 1440px,
  ),
  properties: (
    z-index: (
      hasMediaQuery: false,
      variants: (
        z: z-index,
      ),
      values: (
        -1: -1,
        0: 0,
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50,
        9999: 9999,
        auto: auto,
      ),
    ),
    filter: (
      hasMediaQuery: false,
      variants: (
        filter: filter,
        backdrop: backdrop-filter,
      ),
      values: (
        none: none,
        "blur\\(xs\\)": blur(0.125rem),
        "blur\\(sm\\)": blur(0.25rem),
        "blur\\(md\\)": blur(0.5rem),
        "blur\\(lg\\)": blur(1rem),
        "blur\\(xl\\)": blur(2rem),
        "blur\\(xxl\\)": blur(4rem),
        "saturate\\(none\\)": saturate(0),
        "saturate\\(xxs\\)": saturate(0.5),
        "saturate\\(xs\\)": saturate(0.66),
        "saturate\\(sm\\)": saturate(1),
        "saturate\\(md\\)": saturate(1.33),
        "saturate\\(lg\\)": saturate(2),
        "saturate\\(xl\\)": saturate(3),
        "saturate\\(xxl\\)": saturate(5),
        "contrast\\(none\\)": contrast(0),
        "contrast\\(xxs\\)": contrast(0.5),
        "contrast\\(xs\\)": contrast(0.66),
        "contrast\\(sm\\)": contrast(1),
        "contrast\\(md\\)": contrast(1.33),
        "contrast\\(lg\\)": contrast(2),
        "contrast\\(xl\\)": contrast(3),
        "contrast\\(xxl\\)": contrast(5),
      ),
    ),
    visibility: (
      hasMediaQuery: false,
      variants: (
        visibility: visibility,
      ),
      values: (
        visible: visible,
        hidden: hidden,
        collapse: collapse,
      ),
    ),
    overscroll-behavior: (
      hasMediaQuery: false,
      variants: (
        overscroll: overscroll-behavior,
      ),
      values: (
        auto: auto,
        contain: contain,
        none: none,
        x: contain x,
        y: contain y,
      ),
    ),
    object-position: (
      hasMediaQuery: false,
      variants: (
        object-position: object-position,
      ),
      values: (
        top: top,
        right: right,
        bottom: bottom,
        left: left,
        center: center,
      ),
    ),
    object-fit: (
      hasMediaQuery: false,
      variants: (
        object-fit: object-fit,
      ),
      values: (
        contain: contain,
        cover: cover,
        fill: fill,
        none: none,
        scale-down: scale-down,
      ),
    ),
    isolate: (
      hasMediaQuery: false,
      variants: (
        isolate: isolation,
      ),
      values: (
        auto: auto,
        isolate: isolate,
      ),
    ),
    box-sizing: (
      hasMediaQuery: false,
      variants: (
        box-sizing: box-sizing,
      ),
      values: (
        border-box: border-box,
        content-box: content-box,
      ),
    ),
    clear: (
      hasMediaQuery: false,
      variants: (
        clear: clear,
      ),
      values: (
        none: none,
        left: left,
        right: right,
        both: both,
      ),
    ),
    float: (
      hasMediaQuery: false,
      variants: (
        float: float,
      ),
      values: (
        none: none,
        left: left,
        right: right,
      ),
    ),
    text-underline-offset: (
      hasMediaQuery: false,
      variants: (
        underline-offset: text-underline-offset,
      ),
      values: (
        xxs: 0.01em,
        xs: 0.025em,
        sm: 0.05em,
        md: 0.1em,
        lg: 0.15em,
        xl: 0.2em,
        xxl: 0.25em,
      ),
    ),
    text-decoration: (
      hasMediaQuery: false,
      variants: (
        decoration: text-decoration,
      ),
      values: (
        none: none,
        underline: underline,
        overline: overline,
        line-through: line-through,
      ),
    ),
    list-style: (
      hasMediaQuery: false,
      variants: (
        list: list-style,
      ),
      values: (
        none: none,
        disc: disc,
        decimal: decimal,
        square: square,
        circle: circle,
        roman: upper-roman,
        alpha: lower-alpha,
      ),
    ),
    text-columns: (
      hasMediaQuery: true,
      variants: (
        columns: columns,
      ),
      values: (
        none: none,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        auto: auto,
      ),
    ),
    font-family: (
      hasMediaQuery: false,
      variants: (
        font: font-family,
      ),
      values: (
        sans: var(--font-sans),
        serif: var(--font-serif),
        mono: var(--font-mono),
      ),
    ),
    text-align: (
      variants: (
        align: text-align,
      ),
      values: (
        start: start,
        end: end,
        center: center,
        justify: justify,
      ),
    ),
    cursor: (
      hasMediaQuery: false,
      variants: (
        cursor: cursor,
      ),
      values: (
        pointer: pointer,
        default: default,
        none: none,
        grab: grab,
        grabbing: grabbing,
      ),
    ),
    background-size: (
      hasMediaQuery: false,
      variants: (
        bg-size: background-size,
      ),
      values: (
        cover: cover,
        contain: contain,
      ),
    ),
    background-repeat: (
      hasMediaQuery: false,
      variants: (
        bg-repeat: background-repeat,
      ),
      values: (
        repeat: repeat,
        no-repeat: no-repeat,
        repeat-x: repeat-x,
        repeat-y: repeat-y,
      ),
    ),
    background-position: (
      hasMediaQuery: false,
      variants: (
        bg-position: background-position,
      ),
      values: (
        top: top,
        right: right,
        bottom: bottom,
        left: left,
        center: center,
      ),
    ),
    aspect-ratio: (
      variants: (
        aspect-ratio: aspect-ratio,
      ),
      values: (
        "square": 1/1,
        "landscape": 4/3,
        "widescreen": 16/9,
        "portrait": 3/4,
        "short": 9/16,
        "cinema": 21/9,
      ),
    ),
    border-radius: (
      hasMediaQuery: false,
      variants: (
        radius: border-radius,
      ),
      values: (
        none: 0,
        xxs: var(--relative-1),
        xs: var(--relative-2),
        sm: var(--relative-3),
        md: var(--relative-4),
        lg: var(--relative-5),
        xl: var(--relative-6),
        pill: 9999px,
      ),
    ),
    position-alignments: (
      variants: (
        top: top,
        right: right,
        bottom: bottom,
        left: left,
      ),
      values: $spacing-sizes,
    ),
    position: (
      variants: (
        position: position,
      ),
      values: (
        static: static,
        relative: relative,
        absolute: absolute,
        fixed: fixed,
        sticky: sticky,
      ),
    ),
    overflow: (
      variants: (
        overflow: overflow,
        overflow-x: overflow-x,
        overflow-y: overflow-y,
      ),
      values: (
        visible: visible,
        hidden: hidden,
        scroll: scroll,
        auto: auto,
      ),
    ),
    truncate: (
      variants: (
        truncate: text-overflow,
      ),
      values: (
        ellipsis: ellipsis,
      ),
    ),
    grid: (
      variants: (
        grid: grid,
        grid-template: grid-template,
        grid-template-rows: grid-template-rows,
        grid-template-columns: grid-template-columns,
        grid-auto-flow: grid-auto-flow,
        grid-auto-rows: grid-auto-rows,
        grid-auto-columns: grid-auto-columns,
        grid-area: grid-area,
        grid-row: grid-row,
        grid-column: grid-column,
      ),
      values: (
        none: none,
        1: repeat(1, 1fr),
        2: repeat(2, 1fr),
        3: repeat(3, 1fr),
        4: repeat(4, 1fr),
        5: repeat(5, 1fr),
        6: repeat(6, 1fr),
        7: repeat(7, 1fr),
        8: repeat(8, 1fr),
        9: repeat(9, 1fr),
        10: repeat(10, 1fr),
        11: repeat(11, 1fr),
        12: repeat(12, 1fr),
        span-1: span 1 / span 1,
        span-2: span 2 / span 2,
        span-3: span 3 / span 3,
        span-4: span 4 / span 4,
        span-5: span 5 / span 5,
        span-6: span 6 / span 6,
        span-7: span 7 / span 7,
        span-8: span 8 / span 8,
        span-9: span 9 / span 9,
        span-10: span 10 / span 10,
        span-11: span 11 / span 11,
        span-12: span 12 / span 12,
        auto: auto,
        min: min-content,
        max: max-content,
        fr: minmax(0, 1fr),
        repeat: repeat(auto-fill, minmax(0, 1fr)),
      ),
    ),
    order: (
      variants: (
        order: order,
      ),
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12,
        13: 13,
        14: 14,
        15: 15,
        16: 16,
        first: -9999,
        last: 9999,
        none: 0,
      ),
    ),
    flex-wrap: (
      variants: (
        wrap: flex-wrap,
      ),
      values: (
        wrap: wrap,
        nowrap: nowrap,
        reverse: wrap-reverse,
      ),
    ),
    flex-direction: (
      variants: (
        direction: flex-direction,
      ),
      values: (
        row: row,
        row-reverse: row-reverse,
        col: column,
        col-reverse: column-reverse,
      ),
    ),
    flex-grow: (
      variants: (
        grow: flex-grow,
      ),
      values: (
        0: 0,
        1: 1,
      ),
    ),
    flex-shrink: (
      variants: (
        shrink: flex-shrink,
      ),
      values: (
        0: 0,
        1: 1,
      ),
    ),
    flex: (
      variants: (
        flex: flex,
      ),
      values: (
        1: "1 1 0%",
        auto: "1 1 auto",
        initial: "0 1 auto",
        grow: "1 0 auto",
        shrink: "0 1 auto",
        none: none,
      ),
    ),
    align: (
      variants: (
        items: align-items,
        align-self: align-self,
        align-content: align-content,
      ),
      values: (
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      ),
    ),
    justify: (
      variants: (
        content: justify-content,
        self: justify-self,
      ),
      values: (
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        start: flex-start,
        end: flex-end,
        center: center,
      ),
    ),
    place-content: (
      variants: (
        place: place-content,
      ),
      values: (
        between: space-between,
        around: space-around,
        evenly: space-evenly,
        start: flex-start,
        end: flex-end,
        center: center,
        stretch: stretch,
      ),
    ),
    display: (
      variants: (
        display: display,
      ),
      values: (
        block: block,
        flex: flex,
        grid: grid,
        inline: inline,
        inline-block: inline-block,
        none: none,
        table: table,
        table-caption: table-caption,
      ),
    ),
    font-size: (
      variants: (
        size: font-size,
      ),
      values: (
        xxs: var(--font-size-xxs, 0.5rem),
        xs: var(--font-size-xs, 0.8rem),
        sm: var(--font-size-sm, 1rem),
        md: var(--font-size-md, 1.2rem),
        lg: var(--font-size-lg, 1.6rem),
        xl: var(--font-size-xl, 2rem),
        2xl: var(--font-size-xxl, 2.6rem),
        3xl: var(--font-size-3xl, 3.2rem),
        4xl: var(--font-size-4xl, 4rem),
        5xl: var(--font-size-5xl, 4.8rem),
        6xl: var(--font-size-6xl, 5.6rem),
        7xl: var(--font-size-7xl, 6.4rem),
        8xl: var(--font-size-8xl, 7.2rem),
        fluid-xxs: clamp(var(--font-size-xxs, 0.5rem), 1vw, var(--font-size-xs, 0.8rem)),
        fluid-xs: clamp(var(--font-size-xs, 0.8rem), 1.2vw, var(--font-size-sm, 1rem)),
        fluid-sm: clamp(var(--font-size-sm, 1rem), 1.6vw, var(--font-size-md, 1.2rem)),
        fluid-md: clamp(var(--font-size-md, 1.2rem), 2vw, var(--font-size-lg, 1.6rem)),
        fluid-lg: clamp(var(--font-size-lg, 1.6rem), 2.6vw, var(--font-size-xl, 2rem)),
        fluid-xl: clamp(var(--font-size-xl, 2rem), 3.2vw, var(--font-size-xxl, 2.6rem)),
        fluid-2xl: clamp(var(--font-size-xxl, 2.6rem), 4vw, var(--font-size-3xl, 3.2rem)),
        fluid-3xl: clamp(var(--font-size-3xl, 3.2rem), 4.8vw, var(--font-size-4xl, 4rem)),
        fluid-4xl: clamp(var(--font-size-4xl, 4rem), 6vw, var(--font-size-5xl, 4.8rem)),
        fluid-5xl: clamp(var(--font-size-5xl, 4.8rem), 7.2vw, var(--font-size-6xl, 5.6rem)),
        fluid-6xl: clamp(var(--font-size-6xl, 5.6rem), 9vw, var(--font-size-7xl, 6.4rem)),
        fluid-7xl: clamp(var(--font-size-7xl, 6.4rem), 12vw, var(--font-size-8xl, 7.2rem)),
        fluid-8xl: clamp(var(--font-size-8xl, 7.2rem), 16vw, var(--font-size-9xl, 8rem)),
        em: 1em,
        rem: 1rem,
        px: 1px,
      ),
    ),
    letter-spacing: (
      hasMediaQuery: false,
      variants: (
        tracking: letter-spacing,
      ),
      values: (
        xxs: -0.05em,
        xs: -0.025em,
        sm: 0,
        md: 0.015em,
        lg: 0.033em,
        xl: 0.066em,
        xxl: 0.1em,
      ),
    ),
    font-weight: (
      hasMediaQuery: false,
      variants: (
        weight: font-weight,
      ),
      values: (
        thin: 100,
        extralight: 200,
        light: 300,
        normal: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800,
        black: 900,
      ),
    ),
    line-height: (
      hasMediaQuery: false,
      variants: (
        leading: line-height,
      ),
      values: (
        none: 0,
        1: 1,
        sm: 1.15,
        md: 1.25,
        lg: 1.325,
        xl: 1.625,
        xxl: 2,
      ),
    ),
    border-style: (
      hasMediaQuery: false,
      variants: (
        border-style: border-style,
        outline-style: outline-style,
      ),
      values: (
        none: none,
        solid: solid,
        dashed: dashed,
        dotted: dotted,
        double: double,
        groove: groove,
        ridge: ridge,
        inset: inset,
        outset: outset,
      ),
    ),
    border-width: (
      hasMediaQuery: false,
      variants: (
        border-width: border-width,
        border-t-width: border-top-width,
        border-r-width: border-right-width,
        border-b-width: border-bottom-width,
        border-l-width: border-left-width,
        outline-width: outline-width,
      ),
      values: (
        none: none,
        1: var(--px),
        2: calc(var(--px) * 1.5),
        3: calc(var(--px) * 2),
        4: calc(var(--px) * 3),
        5: calc(var(--px) * 4),
        6: calc(var(--px) * 5),
        7: calc(var(--px) * 6),
        8: calc(var(--px) * 7),
      ),
    ),
    text-transform: (
      hasMediaQuery: false,
      variants: (
        transform: text-transform,
      ),
      values: (
        none: none,
        uppercase: uppercase,
        lowercase: lowercase,
        capitalize: capitalize,
      ),
    ),
    color: (
      hasMediaQuery: false,
      hasStates: true,
      hasChildren: true,
      variants: (
        color: color,
        bg: background-color,
        border-color: border-color,
        stroke: stroke,
        fill: fill,
      ),
      values: $colors,
    ),
    spacings: (
      hasMediaQuery: true,
      hasChildren: true,
      variants: (
        p: padding,
        pt: padding-block-start,
        pr: padding-inline-end,
        pb: padding-block-end,
        pl: padding-inline-start,
        px: padding-inline,
        py: padding-block,
        m: margin,
        mt: margin-block-start,
        mr: margin-inline-end,
        mb: margin-block-end,
        ml: margin-inline-start,
        mx: margin-inline,
        my: margin-block,
        gap: gap,
        gap-x: column-gap,
        gap-y: row-gap,
        row-gap: row-gap,
      ),
      values: $spacing-sizes,
    ),
    sizes: (
      hasMediaQuery: true,
      hasChildren: false,
      variants: (
        w: width,
        min-w: min-width,
        max-w: max-width,
        basis: flex-basis,
        h: height,
        min-h: min-height,
        max-h: max-height,
      ),
      values: $spacing-sizes,
    ),
  ),
);

@mixin child-selectors($selector, $property, $value) {
  &\>\* > * {
    #{$property}: #{$value};
  }
  &\* * {
    #{$property}: #{$value};
  }
}

@mixin state-selectors($selector, $property, $value) {
  &\@hover:where(:hover) {
    #{$property}: #{$value};
  }

  &\@focus:where(:focus) {
    #{$property}: #{$value};
  }

  &\@target:where(:target) {
    #{$property}: #{$value};
  }
}

/**
* Create utility classes
*/

@each $property, $propertyMap in map-get($utils, properties) {
  @each $variant, $variantProperty in map-get($propertyMap, variants) {
    @each $value, $valueProperty in map-get($propertyMap, values) {
      .#{$variant}\:#{$value} {
        #{$variantProperty}: #{$valueProperty};

        @if map-get($propertyMap, hasChildren) ==true {
          @include child-selectors(&, #{$variantProperty}, #{$valueProperty});
        }

        @if map-get($propertyMap, hasStates) ==true {
          @include state-selectors(&, #{$variantProperty}, #{$valueProperty});
        }
      }
    }
  }
}

/**
* Create utility classes with media queries
*/
@each $breakpoint, $value in map-get($utils, mediaQueries) {
  @media (min-width: #{$value}) {
    @each $property, $propertyMap in map-get($utils, properties) {
      @each $variant, $variantProperty in map-get($propertyMap, variants) {
        $hasMQ: map-get($propertyMap, hasMediaQuery);

        @if $hasMQ !=false {
          @each $value, $valueProperty in map-get($propertyMap, values) {
            .\{#{$breakpoint}\}#{$variant}\:#{$value} {
              #{$variantProperty}: #{$valueProperty};

              @if map-get($propertyMap, hasChildren) ==true {
                @include child-selectors(&, #{$variantProperty}, #{$valueProperty});
              }

              @if map-get($propertyMap, hasStates) ==true {
                @include state-selectors(&, #{$variantProperty}, #{$valueProperty});
              }
            }
          }
        }
      }
    }
  }
}
