.header {
    display: flex;
    justify-content: space-between;
    gap: var(--4);
    padding: var(--7) var(--4);
    background-color: var(--black-900);
    color: var(--white);
    backdrop-filter: blur(10px);
    color: var(--white);
    border-bottom: var(--px) solid var(--black);

    &__navigations {
        display: flex;
        gap: var(--4);

        :where(ul) {
            display: flex;
            gap: var(--4);
            list-style: none;

            :where(*) {
                color: var(--white);
            }
        }
    }
}