pre code.hljs {
    padding: 0;
    font-family: var(--font-mono);
}

.hljs {
    color: var(--gray-600);
    background: transparent;
    padding: 0;
    font-family: var(--font-mono);

    code {
        padding: 0;
    }

    &-variable {
        color:var(--red-600);
    }

    &-keyword {
        color: var(--red-800);
    }

    &-function {
        color: var(--blue-500);
    }

    &-string {
        color: var(--gray-700);
    }

    &-number {
        color: var(--pink-700);
    }

    &-comment {
        color: var(--gray-500);
    }

    &-built_in {
        color: var(--sky-800);
    }

    &-literal {
        color: var(--sky-800);
    }

    &-type {
        color: var(--blue-500);
    }

    &-params {
        color: var(--gray-600);
    }

    &-meta {
        color: var(--gray-600);
    }

    &-meta-string {
        color: var(--pink-600);
    }

    &-attribute {
        color: #a6e22e;
    }

    &-selector-tag {
        color: #a6e22e;
    }

    &-selector-id {
        color: #a6e22e;
    }

    &-selector-class {
        color: #a6e22e;
    }

}