text {


    &-element {
        p {
            font-size: clamp(var(--font-sm), 2vw, var(--font-md));
            font-family: var(--font-sans);
            font-weight: var(--font-normal);
            line-height: var(--line-height-md);
            color: currentColor;
        }

        h1 {
            font-size: clamp(var(--font-4xl), 12vw, var(--font-6xl));
            font-family: var(--font-sans);
            font-weight: var(--font-bold);
            line-height: var(--line-height-xs);
            color: currentColor;
        }

        h2 {
            font-size: clamp(var(--font-2xl), 8vw, var(--font-4xl));
            font-family: var(--font-sans);
            font-weight: var(--font-bold);
            line-height: var(--line-height-xs);
            color: currentColor;
        }

        h3 {
            font-size: clamp(var(--font-xl), 6vw, var(--font-2xl));
            font-family: var(--font-sans);
            font-weight: var(--font-bold);
            line-height: var(--line-height-xs);
            color: currentColor;
        }

        h4 {
            font-size: clamp(var(--font-lg), 4vw, var(--font-xl));
            font-family: var(--font-sans);
            font-weight: var(--font-bold);
            line-height: var(--line-height-xs);
            color: currentColor;
        }

        h5 {
            font-size: clamp(var(--font-md), 3vw, var(--font-lg));
            font-family: var(--font-sans);
            font-weight: var(--font-bold);
            line-height: var(--line-height-xs);
            color: currentColor;
        }

        h6 {
            font-size: clamp(var(--font-sm), 2vw, var(--font-md));
            font-family: var(--font-sans);
            font-weight: var(--font-bold);
            line-height: var(--line-height-xs);
            color: currentColor;
        }

        .text-element {
            &--font {
                &-size {
                    &-xs {
                        font-size: var(--font-sm);
                    }

                    &-sm {
                        font-size: clamp(var(--font-sm), 2vw, var(--font-md));

                    }

                    &-md {
                        font-size: clamp(var(--font-md), 3vw, var(--font-lg));

                    }

                    &-lg {
                        font-size: clamp(var(--font-lg), 4vw, var(--font-xl));

                    }

                    &-xl {
                        font-size: clamp(var(--font-xl), 6vw, var(--font-2xl));

                    }

                    &-2xl {
                        font-size: clamp(var(--font-2xl), 8vw, var(--font-4xl));
                    }

                    &-3xl {
                        font-size: clamp(var(--font-3xl), 12vw, var(--font-5xl));
                    }

                    &-4xl {
                        font-size: clamp(var(--font-4xl), 14vw, var(--font-6xl));
                    }

                    &-5xl {
                        font-size: clamp(var(--font-5xl), 16vw, var(--font-8xl));
                    }

                    &-6xl {
                        font-size: clamp(var(--font-6xl), 18vw, var(--font-10xl));
                    }

                    &-7xl {
                        font-size: clamp(var(--font-7xl), 20vw, var(--font-12xl));
                    }

                    &-8xl {
                        font-size: clamp(var(--font-8xl), 22vw, var(--font-16xl));
                    }

                }

                &-family {
                    &-sans {
                        font-family: var(--font-sans);
                    }

                    &-serif {
                        font-family: var(--font-serif);
                    }

                    &-mono {
                        font-family: var(--font-mono);
                    }
                }


                &-weight {
                    &-normal {
                        font-weight: var(--font-normal);
                    }

                    &-bold {
                        font-weight: var(--font-bold);
                    }
                }

                &-style {
                    &-italic {
                        font-style: italic;
                    }
                }
            }

            &--text {
                &-transform {
                    &-uppercase {
                        text-transform: uppercase;
                    }

                    &-lowercase {
                        text-transform: lowercase;
                    }

                    &-capitalize {
                        text-transform: capitalize;
                    }
                }

                &-align {
                    &-start {
                        text-align: start;
                    }

                    &-center {
                        text-align: center;
                    }

                    &-end {
                        text-align: end;
                    }

                    &-justify {
                        text-align: justify;
                    }
                }
            }

            // Font Size

            // Line Height
            &--line-height-xs {
                line-height: var(--line-height-xs);
            }

            &--line-height-sm {
                line-height: var(--line-height-sm);
            }

            &--line-height-md {
                line-height: var(--line-height-md);
            }

            &--line-height-lg {
                line-height: var(--line-height-lg);
            }

            &--line-height-xl {
                line-height: var(--line-height-xl);
            }

            &--line-height-2xl {
                line-height: var(--line-height-2xl);
            }

            // Letter Spacing
            &--letter-spacing-xs {
                letter-spacing: var(--letter-spacing-xs);
            }

            &--letter-spacing-sm {
                letter-spacing: var(--letter-spacing-sm);
            }

            &--letter-spacing-md {
                letter-spacing: var(--letter-spacing-md);
            }

            &--letter-spacing-lg {
                letter-spacing: var(--letter-spacing-lg);
            }

            &--letter-spacing-xl {
                letter-spacing: var(--letter-spacing-xl);
            }

        }
    }

}