.text {
    display: block;
    color: currentColor;

    &--weight {
        &-black {
            font-weight: 900;
        }

        &-bold {
            font-weight: 700;
        }

        &-normal {
            font-weight: 400;
        }

        &-light {
            font-weight: 200;
        }
    }
    &--letter-spacing {
        &-xxs {
            letter-spacing: -0.05em;
        }

        &-xs {
            letter-spacing: -0.025em;
        }

        &-sm {
            letter-spacing: -0.0125em;
        }

        &-normal {
            letter-spacing: 0;
        }

        &-lg {
            letter-spacing: 0.05em;
        }

        &-xl {
            letter-spacing: 0.1em;
        }

        &-2xl {
            letter-spacing: 0.15em;
        }

        &-3xl {
            letter-spacing: 0.2em;
        }
    }
    &--size {
        &-xxs {
            font-size: var(--font-xxs);
        }

        &-xs {
            font-size: var(--font-xs);
        }

        &-sm {
            font-size: var(--font-sm);
        }

        &-md {
            font-size: var(--font-md);
        }

        &-lg {
            font-size: var(--font-lg);
        }

        &-xl {
            font-size: var(--font-xl);
        }

        &-2xl {
            font-size: var(--font-2xl);
        }

        &-3xl {
            font-size: var(--font-3xl);
        }

        &-4xl {
            font-size: var(--font-4xl);
        }

        &-5xl {
            font-size: var(--font-5xl);
        }

        &-6xl {
            font-size: var(--font-6xl);
        }

        &-7xl {
            font-size: var(--font-7xl);
        }

        &-8xl {
            font-size: var(--font-8xl);
        }
    }

    &--align {
        &-left {
            text-align: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            text-align: right;
        }
    }

    &--color {
        &-black {
            color: var(--black);
        }

        &-white {
            color: var(--white);
        }

        &-gray {
            color: var(--gray);
        }

        &-primary {
            color: var(--blue-900);
        }

        &-secondary {
            color: var(--sky-900);
        }

        &-tertiary {
            color: var(--gray-700);
        }

        &--current {
            color: currentColor;
        }
    }

    &--line-height {
        &-sm {
            line-height: 1;
        }

        &-md {
            line-height: 1.25;
        }

        &-lg {
            line-height: 1.5;
        }
    }

    &--transform {
        &-uppercase {
            text-transform: uppercase;
        }

        &-lowercase {
            text-transform: lowercase;
        }

        &-capitalize {
            text-transform: capitalize;
        }
    }
}