:where(video,
    video-player,
    video-playlist,
    video-controls) {
    display: block;
    width: 100%;
}

.video-playlist-item {
    padding: var(--2);
    border: var(--px) solid var(--gray-400);
    border-radius: var(--2);

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--2);
        width: 100%;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: var(--2);
        flex: 1 1 50%
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: var(--2);
    }
}

.video-player {
    &__container {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__poster {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &__video-container {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

.video-player {
    height: 100%;
    position: relative;
    overflow: hidden;

    :where(h2,
        p) {
        text-align: start;
    }

    :where(h2) {
        font-size: var(--font-4xl);
    }

    :where(p) {
        font-size: var(--font-lg);
    }

    :where(input[type="range"]) {
        display: block;
        // width: 100%;
        height: var(--px);
        // margin: var(--2) 0;
        background-color: var(--white);
        border-radius: var(--px);
        appearance: none;
        border: none;
        outline: none;
        box-shadow: none;

        &:where([data-videoplayer-control="progress-bar"]) {
            width: 100%;
            margin: var(--2) 0;
        }

        &:where(::-webkit-slider-thumb) {
            appearance: none;
            width: var(--3);
            height: var(--3);
            background-color: var(--white);
            border-radius: 50%;
            border: var(--px) solid var(--gray-800);
            cursor: pointer;
        }
    }
}

.video-playlist {
    :where(button) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        :where(img) {
            width: var(--6);
            height: var(--6);
        }
    }
}


.video-controls {
    display: flex;
    flex-direction: column;
    padding: 0;

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: var(--2) 0;
        z-index: 1;

        >:where(*) {
            margin-right: var(--2);
            padding: var(--4);
            color: var(--white);
        }
    }

    &--bottom-inside {
        padding-top: var(--8);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
        display: block;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: var(--4);
        left: 0;
        width: 100%;
        padding: var(--4);
        color: var(--white);
        z-index: 1;
    }

    &--bottom-outside {
        display: block;
        align-items: center;
        justify-content: space-between;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: var(--2);
        color: var(--white);
        z-index: 1;
    }
}

.video-control {
    display: block;

    >:where(*:not(input[type="range"])) {
        width: var(--7);
        height: var(--7);
    }
}

:where(video) {
    --aspect-ratio: 16/9;
    aspect-ratio: var(--aspect-ratio);
    background-color: var(--gray-200);
}