.nav {
    line-height: 1;
    :where(ul) {
        display: flex;
    }
    &--spacing {
        &-sm :where(ul) {
            gap: var(--4)
        }

        &-md :where(ul) {
            gap: var(--6)
        }

        &-lg :where(ul) {
            gap: var(--8)
        }
    }

    &--size {
        &-sm :where(button) {
            font-size: var(--font-sm)
        }

        &-md :where(button) {
            font-size: var(--font-md)
        }

        &-lg :where(button) {
            font-size: var(--font-lg)
        }
    }

    &--direction {

        &-row>:where(ul) {
            flex-direction: row
        }

        &-column>:where(ul) {
            flex-direction: column
        }
    }

    &--style {
        &-none :where(button) {
            list-style: none;
            padding:0;
        }
        &-button :where(button) {
            background-color: var(--black);
            border-radius: 5px;
            padding: 0.66em 1em;
            background-color: var(--white);
        }
    }
}