accordion-group,
accordion-item,
details,
summary {
    display: block;
    width: 100%;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
        width: 1em;
        height: 1em;
    }
}